.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(24, 1fr);
  width: auto;
  margin: 20px;
}

.grid-item, .grid-block {
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  text-align: center;
}

.grid-block:hover{
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.25);
}

.popup-show--true{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-show--false{
  display: none;
}

.close{
  float: right;
}

.close:hover{
  cursor: pointer;
}

.show--true {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: grey;
  width: 600px;
  padding: 10px;
  border-radius: 10px;
}

.block h2{
  text-align: center;
}

.block select,
.block input:not([type="submit"]){
  float: right;
  margin: 10px;
}

.block label {
  margin: 10px;
}

.block input:not([type="submit"]) {
  width: 100px;
}

.block input[type="submit"]{
  display: inline-block;
  text-align: center;
  margin: 20px;
  width: auto;
}