body, html {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(24, 5fr);
  width: auto;
  margin: 20px;
  padding-bottom: 30px;
  animation: appear 2.5s;
}

.grid-item, .grid-block {
  border: 1px solid #ccc;
  background-color: #466bad;
  color: white;
  text-align: center;
  height: auto;
}

.grid-block:hover{
  border: 1px solid #466bad;
  color: #466bad;
  background-color: white;
  cursor: pointer;
}

.grid-block .block{
  border: 1px solid black;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  padding: 5px;
  border-radius: 10px;
}

.grid-block:hover .block{
  border: 1px solid black;
  background-color: #466bad;
  color: white;
}

.grid-block .block:hover{
  border: 1px solid black;
  color: #466bad;
  background-color: white;
}

.popup-show--true{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appear 1s;
}

.popup-show--false{
  display: none;
}

.close{
  float: right;
}

.close:hover{
  cursor: pointer;
}

.show--true{
  background-color: rgb(220, 226, 253);
  width: 600px;
  padding: 10px;
  border-radius: 10px;
}

.popup__title{
  text-align: center;
}

.block select,
.block input:not([type="submit"]){
  float: right;
  margin: 10px;
}

.block label {
  margin: 10px;
}

.block input:not([type="submit"]) {
  width: 100px;
}

.block input[type="submit"]{
  text-align: center;
  margin: auto;
  float: right;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}