:root{
    background-color: rgb(220, 226, 253);
    text-align: center;
}

h1{
    color: #03045E;
}

h2{
    color: #023E8A;
}

#sessionForm{
    min-width: fit-content;
    width: 30%;
    border-radius: 10px;
    background-color: #023E8A;
    margin: auto;
    padding: 15px;
    text-align: center;
}

#sessionForm input[type="submit"]{
    background-color: #023E8A;
    color: white;
    border: 1px solid white;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

#sessionForm input[type="submit"]:hover{
    background-color: white;
    color: #023E8A;
    border: 1px solid #023E8A;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

.sessionForm__link{
    display: block;
    margin: auto;
    width: 300px;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 2px 5px;
    border: 1px solid white;
    border-radius: 10px;
}

.sessionForm__link:hover{
    color: #023E8A;
    background-color: white;
}