h1 {
    text-align: center;
}

.menu{
    text-align: center;
    margin: auto;
    animation: appear 2s;
}

.menu button{
    display: inline;
    background-color: #466bad;
    color: white;
    text-decoration: none;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
}

.menu button:hover{
    background-color: white;
    color: #466bad;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}