:root{
    background-color: rgb(220, 226, 253);
    text-align: center;
}

h1{
    text-align: center;
    color: #023E8A;
}

h2{
    text-align: center;
    color: #023E8A;
}

#subjectForm{
    min-width: fit-content;
    width: 60%;
    border-radius: 10px;
    background-color: #023E8A;
    margin: auto;
    padding: 15px;
    font-size: 1.25rem;
}

.error{
    background-color: white;
    border-radius: 5px;
    color: red;
    margin: auto;
    width: fit-content;
    padding: 5px;
    font-size: 1.25rem;
}

#subjectForm input[type="reset"], #subjectForm input[type="submit"]{
    background-color: #023E8A;
    color: white;
    border: 1px solid white;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    font-size: 1.25rem;
}

#subjectForm input[type="reset"]:hover:not(:disabled), #subjectForm input[type="submit"]:hover:not(:disabled){
    background-color: white;
    color: #023E8A;
    border: 1px solid #023E8A;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

#subjectForm input[type="reset"]:disabled, #subjectForm input[type="submit"]:disabled{
    cursor: not-allowed;
    background-color:grey;
    color:rgb(39, 39, 39);
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

#subjectForm input:not([type="reset"], [type="submit"], [type="radio"]), #subjectForm select{
    float: right;
    margin: 20px;
    width: 200px;
}

#subjectForm label{
    display: inline;
    color: white;
    float: left;
    margin: 20px;
}

#subjectForm svg{
    margin-left: 5px;
    vertical-align: middle;
    display: inline-block;
    color: white;
}

#subjectForm fieldset{
    margin: auto;
    text-align: right;
    border: 0 none;
    margin: 20px;
}

#subjectForm fieldset label{
    float: none;
}

#subjectForm .color-container{
    display: flex;
    flex-direction: column;
    float: right;
    width: auto;
}

#subjectForm .color-container select{
    margin: 5px auto;
    margin-top: 20px;
    margin-right: 20px;
    display: block;
    width: 200px;
}

#subjectForm .color-container button{
    display: inline;
    width: fit-content;
    margin: 5px auto;
    background: white;
    border-radius: 10px;
}

#subjectForm .color-container button svg{
    width: 20px;
    height: 20px;
}

#subjectForm .color-container input{
    margin: 5px auto;
    margin-right: 20px;
    display: block;
    width: 200px;
}

footer{
    margin: 20px;
}

a {
  display: block;
  width: fit-content;
  margin: auto;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #023E8A;
  padding: 2px 5px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 1.25rem;
}

a:hover {
  color: #023E8A;
  background-color: white;
  border: 1px solid #023E8A;
}

hr{
    clear: both;
}