:root{
    background-color: rgb(220, 226, 253);
    text-align: center;
}

h1{
    text-align: center;
    color: #023E8A;
}

h2{
    text-align: center;
    color: #023E8A;
}

#sessionForm{
    min-width: fit-content;
    width: 50%;
    border-radius: 10px;
    background-color: #023E8A;
    margin: auto;
    padding: 15px;
}

#sessionForm input[type="reset"], #sessionForm input[type="submit"]{
    background-color: #023E8A;
    color: white;
    border: 1px solid white;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

#sessionForm input[type="reset"]:hover, #sessionForm input[type="submit"]:hover{
    background-color: white;
    color: #023E8A;
    border: 1px solid #023E8A;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

#sessionForm input:not([type="reset"], [type="submit"], [type="radio"]), #sessionForm select{
    float: right;
    margin: 20px;
    width: 200px;
}

#sessionForm label{
    display: inline;
    color: white;
    float: left;
    margin: 20px;
}

#sessionForm svg{
    margin-left: 5px;
    vertical-align: middle;
    display: inline-block;
    color: white;
}

#sessionForm fieldset{
    margin: auto;
    text-align: right;
    border: 0 none;
    margin: 20px;
}

#sessionForm fieldset label{
    float: none;
}

#sessionForm .color-container{
    display: flex;
    flex-direction: column;
    float: right;
    width: auto;
}

#sessionForm .color-container select{
    margin: 5px auto;
    margin-top: 20px;
    margin-right: 20px;
    display: block;
    width: 200px;
}

#sessionForm .color-container button{
    display: inline;
    width: fit-content;
    margin: 5px auto;
    background: white;
    border-radius: 10px;
}

#sessionForm .color-container button svg{
    width: 20px;
    height: 20px;
}

#sessionForm .color-container input{
    margin: 5px auto;
    margin-right: 20px;
    display: block;
    width: 200px;
}

footer{
    margin: 20px;
}

a {
  display: block;
  width: fit-content;
  margin: auto;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #023E8A;
  padding: 2px 5px;
  border: 1px solid white;
  border-radius: 10px;
}

a:hover {
  color: #023E8A;
  background-color: white;
  border: 1px solid #023E8A;
}

hr{
    clear: both;
}