.daily-review__chart {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  height: 300px;
  padding-left: 2rem;
  margin: 5rem 2rem;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.bar-container {
  position: relative;
  width: 100%;
}

.bar{
  position: absolute;
  content: "";
  left: 50px;
  bottom: 0;
  width: 20px;
  background-color: blue;
  display: inline-block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 1;
}
.bar:focus-within,
.bar:hover {
   box-shadow: 0 4px 8px 0 rgba(74, 34, 250, 0.72), 0 6px 20px 0 rgba(14, 37, 245, 0.47);
}

.bar-completed {
  position: absolute;
  left: 50px;
  bottom: 0;
  content: "";
  width: 20px;
  height: 300px;
  background-color: grey;
  display: inline-block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}
.bar-completed:hover {
  box-shadow: 0 0 0 3px white;
}

.bar-label {
  position: absolute;
  width: max-content;
  bottom: -60px;
  left: 0;
  text-align: center;
}

.bar-label p{
  margin: 5px 0px;
}
