:root{
    background-color: rgb(220, 226, 253);
    text-align: center;
}

h1{
    text-align: center;
    color: rgb(4, 0, 250);
}

h2{
    text-align: center;
}

#sessionForm{
    width: 50%;
    border-radius: 10px;
    background-color: rgb(114, 124, 255);
    margin: auto;
    padding: 15px;
}

form{
    text-align: center;
}

form input{
    margin: 10px;
    border-radius: 10px;
}

form input[type="radio"]{
    display: inline;
}

form input[type="reset"], form input[type="submit"]{
    background-color: rgb(114, 124, 255);
    color: white;
    border: 1px solid white;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

form input[type="reset"]:hover, form input[type="submit"]:hover{
    background-color: white;
    color: rgb(114, 124, 255);
    border: 1px solid rgb(114, 124, 255);
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

form input[type="reset"]:disabled, form input[type="submit"]:disabled{
    background-color: grey;
    color: white;
    border: 1px solid rgb(114, 124, 255);
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    cursor: not-allowed;
}

label{
    display: inline;
    color: white;
    float: left;
    margin: 20px;
}

a{
    float: right;
    margin: 20px;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 2px 5px;
    border: 1px solid white;
    border-radius: 10px;
}

fieldset{
    margin: auto;
    text-align: right;
    border: 0 none;
    margin: 20px;
}

form button{
    float: right;
    margin: 20px;
}

fieldset label{
    float: none;
}

hr{
    clear: both;
}

