:root{
    background-color: rgb(220, 226, 253);
    text-align: center;
}

h1{
    color: #03045E;
}

h2{
    color: #023E8A;
}

#sessionForm{
    min-width: fit-content;
    width: 50%;
    border-radius: 10px;
    background-color: #023E8A;
    margin: auto;
    padding: 15px;
    text-align: center;
}

#sessionForm input{
    margin: 10px;
    border-radius: 10px;
}

#sessionForm input[type="radio"]{
    display: inline;
}

#sessionForm input[type="submit"]{
    background-color: #023E8A;
    color: white;
    border: 1px solid white;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    font-size: 1.25rem;
}

#sessionForm input[type="submit"]:hover{
    background-color: white;
    color: #023E8A;
    border: 1px solid #023E8A;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

 #sessionForm input[type="submit"]:disabled{
    background-color: grey;
    color: white;
    border: 1px solid #023E8A;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    cursor: not-allowed;
}

label{
    display: inline;
    color: white;
    float: left;
    margin: 20px;
    font-size: 1.25rem;
}

a{
    float: right;
    margin: 20px;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 2px 5px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 1.25rem;
}

a:hover{
    color: #023E8A;
    background-color: white;
}

fieldset{
    margin: auto;
    text-align: right;
    border: 0 none;
    margin: 20px;
}

#sessionForm button{
    float: right;
    margin: 20px;
}

fieldset label{
    float: none;
}

hr{
    clear: both;
}

.days-btn-container {
  float: right;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
}

.day-btn {
  display: none;
}

.day-label {
  background-color: transparent;
  font-size: 11px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 20%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.day-btn:checked + .day-label {
  background-color: white;
  //background-image: linear-gradient(147deg, #00ccff 0%, #004cff 74%);
  border: none;
  color: #023E8A;
}

