:root{
    background-color:  #F9FBFD;
    text-align: center;
    
}

body{
    overflow-y: hidden;
}

header{
    animation: slideIn 3s;
}

main{
    animation: slideIn 2.5s;
}

h1, h2, h3{
    color: #466bad;
}

h2{
    margin: auto;
    padding: 5px;
    width: fit-content;
    border: 1px blue solid;
    border-radius: 10px;
    box-shadow: 2px 5px;
}

img{
    width: 150px;
    margin: 20px;
    border-radius: 10px;
}

#sessionForm{
    width: fit-content;
    border-radius: 10px;
    background-color: #466bad;
    margin: auto;
}

form{
    text-align: center;
}

form input{
    margin: 10px;
    border-radius: 10px;
    display: block;
}

form label{
    display: block;
    color: white;
}

button, a{
    background-color: #466bad;
    border: 1px solid black;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 10px auto;
}

button:hover, a:hover{
    background-color: white;
    border: 1px solid black;
    color: rgb(114, 124, 255);
    border-radius: 10px;
    padding: 5px;
    margin: 10px auto;
    cursor: pointer;
}

a, a:hover{
    text-decoration: none;
}

.error {
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    width: fit-content;
    border: 1px solid red;
    color: red;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin-bottom: 100px;
    animation: slideIn 3s;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
