header{
  margin-bottom: 20px;
}

#full-navigation {
  text-align: center;
  width: 100dvw;
  animation: slideIn 2s;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  list-style: none;
  width: 100%;
  margin: 0;
}

.nav-item a button{
  border-radius: 10px;
  background-color: white;
  border: 2px solid #023e8a;
}

.nav-item a button, .nav-item button {
  flex: 1;
  text-align: center;
  line-height: 2.5dvh;
  font-size: 0.9vw;
  height: 4dvh;
}

.nav-item > .link {
  color: #023e8a;
  text-decoration: none;
  margin: 20px;
  color: #023e8a;
  border: 2px solid #023e8a;
  padding: 5px;
  border-radius: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-color: white;
}

.nav-item a button:hover, .nav-item button:hover {
  background-color: #023e8a;
  color: white;
  cursor: pointer;
}

#title,
#subtitle {
  color: #023e8a;
  text-align: center;
  margin-left: 20px;
  animation: slideIn 2s;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes run {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0;    
  }
}
