#full-navigation{
    display: inline-block;
    text-align: center;
    width: 100%;
    animation: slideIn 2s;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style: none;
    height: 60px;
    width: 100%;
}

.nav-item, .nav-item button{
    flex: 1;
    text-align: center;
    font-size: 15px;
}

.nav-item > .link{
    color: #466bad;
    text-decoration: none;
    margin: 20px;
    color: #466bad;
    border: 2px solid #466bad;
    padding: 5px;
    border-radius: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
} 

.nav-item > .link:hover{
    background-color: #466bad;
    color: white;
}

#title{
    color: #466bad;
    text-align: center;
    height: 20px;
    animation: slideIn 2s;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}