:root{
    background-color: #caf0f8;
    text-align: center;
}

h1{
    text-align: center;
    color: #023E8A;
    animation: slideIn 2s;
}

h2{
    text-align: center;
    animation: slideIn 2.5s;
}

#sessionForm{
    width: fit-content;
    border-radius: 10px;
    background-color: #023E8A;
    margin: auto;
    animation: slideIn 3s;
}

form{
    text-align: center;

}

form input{
    margin: 10px;
    border-radius: 10px;
    display: block;
}

form label{
    display: block;
    color: white;
}

button, a{
    background-color: #023E8A;
    border: 1px solid black;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 10px auto;
}

a, a:hover{
    display: inline-block;
    text-decoration: none;
    margin: 20px;
}

a{
    animation: slideIn 3s;
}

button:hover, a:hover{
    background-color: white;
    border: 1px solid black;
    color: #023E8A;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}