.pomodoro{
    background-color: #023E8A;
    border: 1px solid #023E8A;
    text-align: center;
    width: fit-content;
    margin: 30px auto;
    border-radius: 10px;
    padding: 20px;
    animation: slideIn 2s;
}

.pomodoro h3{
    color: #03045E;
    background-color: #CAF0F8;
    border-radius: 10px;
}

.pomodoro__mode-buttons button, .pomodoro__controls button{
    margin: 10px;
    font-size: 1.5rem;
    border: 1px solid #CAF0F8;
    border-radius: 10px;
    background-color: #CAF0F8;
}

.pomodoro__mode-buttons button:hover, .pomodoro__controls button:hover{
    cursor: pointer;
    background-color: #00B4D8;
    border: 1px solid #00B4D8;
    box-shadow: 2px 3px 5px white;
}

.pomodoro__timer-display{
    border: 1px solid #CAF0F8;
    width: fit-content;
    margin: 10px auto;
    padding: 5px 20px;
    font-size: 1.5rem;
    background-color: white;
    color: #03045E;
    border-radius: 10px;
}

.pomodoro__duration-inputs{
    margin: 30px;
    border-radius: 10px;
}

.pomodoro__duration-inputs input{
    margin: 10px;
    font-size: 1rem;
    width: 50px;
}

.pomodoro__duration-inputs label{
    font-size: 1rem;
    padding:5px;
    background-color: #00B4D8;
    border-radius: 10px;
}


@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}