body{
    background-color: #caf0f8;
}

header h1{
    text-align: center;
    color: #023e8a;
}

.containerRecovery{
    text-align: center;
    background-color: #023e8a;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
}

.containerRecovery p{
    color: white;
    font-size: 1.25rem;
    margin: 10px;
}

.containerRecovery form{
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    font-size: 1.25rem;
    margin: 10px;
    padding: 10px;
}

.containerRecovery form > button{
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    background-color: #023e8a;
    border: 1px solid white;
    padding: 5px;
    color: white;
    font-size: 1.25rem;
}

.email--error{
    font-size: 1rem;
    background-color: white;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    padding: 0 5px;
    border: 2px dotted red;
}

.email--error p{
    color: red;
}

.containerRecovery form > button:hover:not(:disabled){
    cursor: pointer;
    color: #023e8a;
    background-color: white;
    border: 1px solid #023e8a;
    box-shadow: 2px 2px 1px white;
}

.containerRecovery form > button:disabled{
    cursor: not-allowed;
    color:rgb(219, 220, 221);
    background-color: grey;
    border: none;
}

.containerRecovery form > label{
    margin-right: 10px;
}

.containerRecovery form > input{
    margin: 10px;
}

.containerRecovery a{
    color: white;
    text-decoration: none;
    background-color: #023e8a;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.25rem;
    margin: 200px;
}

.containerRecovery a:hover{
    cursor: pointer;
    color: #023e8a;
    background-color: white;
    border: 1px solid #023e8a;
    box-shadow: 2px 2px 1px white;
}